.headerPrimary{
    font-style: 'Open Sans';
    font-size: 20px;
    color:#FFFFFF;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-left: 90px;
    margin-bottom: 40px;
}

